@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
media query manager and $breakpoint argument choices

0-600px:      phone
6-900px:      tab-port
9-1200px:     tab-land
[12-1800px]:  [default]
1800px+:      big-desk

1em = 16px
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  }
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) { @content }; // 1800px+
  }
}