.feature-box {
  padding: 2.5rem;
  border-radius: 3px;
  background-color: rgba($color-white, .8);
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  font-size: $default-font-size;
  text-align: center;
  transition: all .3s;

  @include responsive(tab-port) {

  }

  &__icon {
    display: inline-block;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}